

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  background-image: url('img/tierraGalaxia.jpg'); /* Cambia por la URL de tu imagen */
  background-size:cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-attachment: fixed; /* Fija la imagen al hacer scroll */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}


#tournament-header {
 
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #E65100, #4CAF50); /* Degradado naranja a verde */
  padding: 15px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

#back-button {
  order: 1;
}

/* Estilos para el título */
#tournament-title {
  order: 2;
  text-align: center;
  flex-grow: 1;
  font-size: 28px; /* Tamaño más visible */
  font-weight: bold; /* Texto en negrita */
  color: #ffffff; /* Blanco para resaltar */
  user-select: none; /* Impide que se pueda seleccionar el texto */
  -webkit-user-select: none; /* Para navegadores WebKit (Chrome, Safari) */
  -moz-user-select: none; /* Para Firefox */
  -ms-user-select: none; /* Para Internet Explorer */
}




#round-info {
  order: 3;
  text-align: right;
  margin-right: 20px;
}

.container {
  text-align: center;
  margin-top: 2rem;

}

#video-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem; /* Añadir margen inferior para separar los botones de los videos */

}

#video1, #video2 {
  width: 50%; /* Cada video ocupa el 48% del contenedor */
  height: 500px; /* Asegura que los iframes ocupen todo el espacio vertical */
}

#video1 iframe, #video2 iframe {
  width: 100%;
  height: 100%;
}

#button-container {
  display: flex;
  justify-content: center;
  margin-top: 140px; /* Ajusta el número de píxeles según lo que necesites */
}


button {
  padding: 10px 25%;
  font-size: 16px;
  border: 1px solid #000; /* Define el borde completo */
  cursor: pointer;
}

/* Estilos para el botón 1 */
#vote1 {
  background-color: #E3F2FD; /* Azul claro */
  color: #0D47A1; /* Azul oscuro */
  border: 2px solid #4CAF50; /* Verde */

  font-size: 16px;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: 0.3s;
}

#vote1:hover {
  background-color: #4CAF50;
  color: white;
}

/* Estilos para el botón 2 */
#vote2 {
  background-color: #FFF3E0; /* Naranja claro */
  color: #E65100; /* Naranja oscuro */
  border: 2px solid #FF9800; /* Naranja */
  
  font-size: 16px;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  transition: 0.3s;
}

#vote2:hover {
  background-color: #FF9800;
  color: white;
}


button:hover {
  background-color: rgb(8, 3, 3);
  color: white;
  border: 1px solid #000; /* Define el borde completo */
  border-radius: 2px; /* Define el radio del borde */
  border-bottom-width: 2px; /* Define solo el ancho del borde inferior */
}

#winner-container {
  margin-top: 2rem;
}

#winner-video iframe {
  width: 50%; /* Video ganador ocupa el 100% del contenedor */
  height: 500px; /* Ajusta la altura si es necesario */
}
/* Estilos para el texto "Hola Mundo" */
#greeting {
  user-select: none; /* Prevenir selección del texto */
  text-align: center; /* Centrar el texto */
  padding: 10px; /* Añadir padding para espacio alrededor del texto */
  position: absolute; /* Posición absoluta */
  top: 450px; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar para centrar completamente */
  font-size: 4em; /* Aumentar tamaño de la fuente */
  font-weight: bold; /* Hacer el texto en negrita */
  border: 5px solid #525ce6; /* Añadir un borde */
  text-shadow: 2px 2px 0 #41e0f5, -2px -2px 0 #38e6fd, 2px -2px 0 #39cee9, -2px 2px 0 #33eaf7; /* Añadir sombras */
  background-color: #000; /* Fondo negro para mayor contraste */
  display: inline-block; /* Hacer que el borde envuelva solo el texto */
  animation: anime-effect 0.5s infinite alternate; /* Añadir animación */
  z-index: 1; /* Asegurar que esté por encima de otros elementos */
}

#video1 h3 {
  position: relative;
  width: 96%; /* Aumenta el ancho de la frase */
  height: 77px;
  text-align: center;
  left: 2%; /* Ajusta la posición para mantenerla centrada */
  color: #4CAF50; /* Verde */
  font-size: 32px; /* Aumenta el tamaño de la letra */
  font-weight: bold; /* Hace el texto más grueso */
  text-shadow: 
    -2px -2px 0 #E3F2FD,  
     2px -2px 0 #E3F2FD,  
    -2px  2px 0 #E3F2FD,  
     2px  2px 0 #E3F2FD; /* Borde blanco más notorio */
}

#video2 h3 {
  position: relative;
  width: 96%; /* Aumenta el ancho de la frase */
  height: 77px;
  text-align: center;
  left: 2%; /* Ajusta la posición para mantenerla centrada */
  color: #E65100; /* Naranja oscuro */
  font-size: 32px; /* Aumenta el tamaño de la letra */
  font-weight: bold; /* Hace el texto más grueso */
  text-shadow: 
    -2px -2px 0 #FFF3E0,  
     2px -2px 0 #FFF3E0,  
    -2px  2px 0 #FFF3E0,  
     2px  2px 0 #FFF3E0; /* Borde blanco más notorio */
}




 /* Media Queries para Responsividad */
/* Estilos para pantallas pequeñas (ancho máximo de 768px) */
@media (max-width: 768px) {
  #tournament-title {
    position: absolute;
    top: 7%; /* Mueve el contenido 20% abajo de la parte superior de la pantalla */
    left: 50%; /* Posiciona el contenido en el centro horizontal de la pantalla */
    transform: translateX(-50%); /* Ajusta la posición horizontal al centro exacto */
    width: 100%; /* Asegura que el div ocupe todo el ancho disponible */
    text-align: center; /* Centra el contenido dentro del div */
  }
}

@media (max-width: 768px) {
  h3{
    width: 100%;
    height: 77px;
    text-align: center;
    left: 0%;
   }
   #video1, #video2{
    width: 50%;
    height: 300px;
   }
   #video-container{
    height: auto;
   }
   #greeting {
    user-select: none; /* Prevenir selección del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Añadir padding para espacio alrededor del texto */
    position: absolute; /* Posición absoluta */
    top: 350px; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar completamente */
    font-size: 2em; /* Aumentar tamaño de la fuente */
    font-weight: bold; /* Hacer el texto en negrita */
    border: 3px solid #525ce6; /* Añadir un borde */
    text-shadow: 2px 2px 0 #41e0f5, -2px -2px 0 #38e6fd, 2px -2px 0 #39cee9, -2px 2px 0 #33eaf7; /* Añadir sombras */
    background-color: #000; /* Fondo negro para mayor contraste */
    display: inline-block; /* Hacer que el borde envuelva solo el texto */
    animation: anime-effect 0.5s infinite alternate; /* Añadir animación */
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
  }
  button {
    padding: 10px 25%;
    font-size: 16px;
    border: 1px solid #000;
    cursor: pointer;
    width: 50%;
}
#winner-video iframe {
  width: 80%;
  height: 300px;
}
#back-button button{
  width: 100px;
  text-align: center;
}
button {
  padding: 10px 24%;
  font-size: 16px;
  border: 1px solid #000;
  cursor: pointer;
}
}

